:host {
    position: relative;
    box-sizing: border-box;

    .background-green {
        animation: blinkBackgroundGreen 1s 5;
    }

    .background-red {
        animation: blinkBackgroundRed 1s 5;
    }

    @keyframes blinkBackgroundGreen {
        0% {background: green};
        100% {background: transparent};
    }

    @keyframes blinkBackgroundRed {
        0% {background: red};
        100% {background: transparent};
    }

    table {
        width: 100%;
    }
    
    .icon-button {
        border: 0;
        background: transparent;
        color: white;
    }
    
    .spacer {
        flex: 1 1 auto;
    }
      
    th.mat-sort-header-sorted {
        color: black;
    }

    section {
        margin: 40px auto;
    }

    .hover-grey:hover {
        background: #efefef;
    }
}