<mat-toolbar *ngIf="loaded" class="sticky z-index-front" color="primary">
  <mat-toolbar-row>
    <button mat-icon-button class="icon-button" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <a routerLink="accounts">CryptoCurrency</a>
    <span class="spacer"></span>
    <span class="mat-subheading-2 m-0">
      ₿: ${{exchange?.toFixed(2)}}
    </span>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet *ngIf="loaded"></router-outlet>
<div *ngIf="!loaded" class="center-absolute">
  <mat-spinner></mat-spinner>
  <br>
  Loading assets, looking for gems...
</div>