:host {
    position: relative;
    box-sizing: border-box;

    table {
        width: 100%;
    }
    
    .sticky {
        position: sticky;
        top: 0;
    }
    
    .z-index-front {
        z-index: 9999;
    }
    
    .icon-button {
        border: 0;
        background: transparent;
        color: white;
    }
    
    .spacer {
        flex: 1 1 auto;
    }
      
    th.mat-sort-header-sorted {
        color: black;
    }
    
    section {
        margin: 40px auto;
    }

    .m-0 {
        margin: 0;
    }
}